name: push-to-dockerhub

on:
  push:
    branches: [ master ]


jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}


      - name: Build and push for k9s-with-gotty
        uses: docker/build-push-action@v2
        with:
          context: k9s-with-gotty/
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/k9s-with-gotty:latest

      - name: Build and push for derper
        uses: docker/build-push-action@v2
        with:
          context: derper/
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/derper:latest

      # - name: Build and push for webproc:singlefile
      #   uses: docker/build-push-action@v2
      #   with:
      #     context: webproc/example/singlefile
      #     push: true
      #     tags: ${{ secrets.DOCKERHUB_USERNAME }}/webproc:singlefile

      - name: Build and push for subconverter
        uses: docker/build-push-action@v2
        with:
          context: subconverter/
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/subconverter:latest

      - name: Build and push for fcct-online
        uses: docker/build-push-action@v2
        with:
          context: fcct-online
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/fcct-online:latest

      - name: Build and push for hishtory
        uses: docker/build-push-action@v2
        with:
          platforms: linux/amd64,linux/arm64
          context: hishtory
          push: true
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/hishtory:latest
            ${{ secrets.DOCKERHUB_USERNAME }}/hishtory:ghaction


      - name: Build and push for osfs
        uses: docker/build-push-action@v2
        with:
          context: osfs
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/osfs:latest

      - name: Build and push for php8
        uses: docker/build-push-action@v2
        with:
          platforms: linux/amd64,linux/arm64
          context: nginx-php8
          push: true
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/nginx-php:8.1

      - name: Build and push for php7
        uses: docker/build-push-action@v2
        with:
          platforms: linux/amd64,linux/arm64
          context: nginx-php7
          push: true
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/nginx-php:latest
            ${{ secrets.DOCKERHUB_USERNAME }}/nginx-php:7